<!DOCTYPE html>
<html><head>
  <meta charset="utf-8"> 
  <title>Test</title>
  <script src="http://gimite.net/js/jquery-1.3.2.min.js"></script>
  <script>
    
    if (!window.console) {
      window.console = {log: function() { }, error: function() { }};
    }
    
  </script>
</head><body>

<% if @user %>
  <div>Hello <%=h @user.id %>!</div>
<% end %>

<form action="/login" method="POST">
  <input type="submit" value="Log in">
</form>

<!--
<form action="/qr_login" method="GET">
  <input type="submit" value="Log in (QR)">
</form>
-->

<form action="/signup" method="POST">
  <input type="text" name="user" placeholder="User ID">
  <input type="submit" value="Sign up">
</form>

</body></html>
