<!DOCTYPE html>
<html><head>
  <meta charset="utf-8"> 
  <title>Test</title>
  <style type="text/css">
    .touch-message {
      font-weight: bold;
    }
  </style>
  <script src="http://gimite.net/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/js/swfobject.js"></script>
  <script type="text/javascript" src="/js/web_socket.js"></script>
  <script>
    
    if (!window.console) {
      window.console = {log: function() { }, error: function() { }};
    }
    
    WEB_SOCKET_SWF_LOCATION = "/js/WebSocketMain.swf";
    
    var params = <%= @params_json %>;
    
    var ws;
    
    $(function() {
      console.log("loaded");
      
      if (!window.WebSocket) {
        alert("Flash Player 10 or later is required.");
        return;
      }
      
      var browserKey = params.browserKey;
      if (browserKey) {
        $("#touch-container").show();
      } else {
        browserKey = Math.random().toString();
        var expireDate = new Date();
        expireDate.setTime(new Date().getTime() + 5 * 365 * 24 * 3600 * 1000);
        document.cookie = "touchauth_browser_key=" + encodeURIComponent(browserKey) +
            ";expires=" + expireDate.toUTCString();
        var chartUrl = "http://chart.apis.google.com/chart?chs=150x150&cht=qr&chl=" +
            encodeURIComponent("touchauth:login:" + browserKey);
        $("#qr").attr("src", chartUrl);
        $("#qr-container").show();
      }
      
      ws = new WebSocket("ws://sakura.gimite.net:19002/auth/" + browserKey);
      ws.onopen = function() {
        console.log("onopen");
        $.ajax({
          type: "POST",
          url: "/call_mobile",
          dataType: "json",
          success: function(res) {
            console.log(res);
          },
          error: function() {
            console.error("/call_mobile error");
          }
        });
      };
      ws.onmessage = function(e) {
        console.log("onmessage: " + e.data);
        var res = JSON.parse(e.data);
        if (res.status == "success") {
          document.cookie = "touchauth_session=" + encodeURIComponent(res.session);
          location.href = "http://sakura.gimite.net:19001/";
        } else if (res.status == "connected") {
          $("#touch-message").text("Touch [Log in] button on your phone.");
        }
      };
      ws.onclose = function() {
        console.log("onclose");
      };
      ws.onerror = function() {
        console.log("onerror");
      };
    });
    
    function clearBrowserKey() {
      document.cookie = "touchauth_browser_key=;expires=Mon, 14 Nov 2011 00:00:00 GMT";
    }
    
  </script>
</head><body>

<div id="touch-container" style="display: none;">
  <div id="touch-message" class="touch-message">Connecting to your phone...</div>
  <div>
    <p>Hint: Connecting to your phone usually takes less than a few seconds. But it sometimes takes forever. Some hints to make it faster:</p>
    <ul>
      <li>Connect your phone to Wi-Fi when available.</li>
      <li>In Android settings, go to [Wireless and networks]->[Wi-Fi settings], click menu button, click [Advanced], and set [Wi-Fi sleep policy] to [Never]. This sounds like battery-consuming option, but I heard a rumor that it actually saves battery.</li>
      <li>When it doesn't respond in a few seconds, wake up your phone and wait for a while.</li>
    </ul>
  </div>
</div>

<div id="qr-container" style="display: none;">
  <p>
    Launch <a href="/">Touchauth app</a> on your Android phone, click [Log in with QR code] and scan
    QR code below:<br/>
    <img id="qr"/>
  </p>
</div>

</body></html>
