<!DOCTYPE html>
<html><head>
  <meta charset="utf-8"> 
  <title>Touchauth Demo</title>
  <style type="text/css">
    .message {
      font-weight: bold;
    }
  </style>
  <script src="http://gimite.net/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/js/swfobject.js"></script>
  <script type="text/javascript" src="/js/web_socket.js"></script>
  <script>
    
    if (!window.console) {
      window.console = {log: function() { }, error: function() { }};
    }
    
    WEB_SOCKET_SWF_LOCATION = "/js/WebSocketMain.swf";
    
    var params = <%= @params_json %>;
    
    var ws;
    
    $(function() {
      console.log("loaded");
      
      if (!window.WebSocket) {
        alert("Flash Player 10 or later is required.");
        return;
      }
      
      var browserKey = params.browserKey;
      var useTouch = browserKey != null;
      if (useTouch) {
        $("#touch-container").show();
      } else {
        browserKey = Math.random().toString();
        var expireDate = new Date();
        expireDate.setTime(new Date().getTime() + 5 * 365 * 24 * 3600 * 1000);
        document.cookie = "touchauth_browser_key=" + encodeURIComponent(browserKey) +
            ";expires=" + expireDate.toUTCString();
        var chartUrl = "http://chart.apis.google.com/chart?chs=150x150&cht=qr&chl=" +
            encodeURIComponent("touchauth:login:" + browserKey);
        $("#qr").attr("src", chartUrl);
        $("#qr-container").show();
      }
      
      ws = new WebSocket(params.webSocketServerUrl + "/auth/" + browserKey);
      ws.onopen = function() {
        console.log("onopen");
        if (useTouch) {
          $.ajax({
            type: "POST",
            url: "/call_mobile",
            dataType: "json",
            success: function(res) {
              console.log(res);
            },
            error: function() {
              console.error("/call_mobile error");
            }
          });
        }
      };
      ws.onmessage = function(e) {
        console.log("onmessage: " + e.data);
        var res = JSON.parse(e.data);
        if (res.status == "success") {
          document.cookie = "touchauth_session=" + encodeURIComponent(res.session);
          location.href = params.webServerUrl + "/";
        } else if (res.status == "connected") {
          $("#connecting-message").hide();
          $("#touch-message").show();
        }
      };
      ws.onclose = function() {
        console.log("onclose");
      };
      ws.onerror = function() {
        console.log("onerror");
      };
    });
    
  </script>
</head><body>

<div id="touch-container" style="display: none;">
  
  <% if @lang == "ja" %>
    
    <div id="connecting-message" class="message">携帯電話に接続中...</div>
    <div id="touch-message" class="message" style="display: none;">
      携帯電話の[Log in]ボタンをクリックしてください。</div>
    <div>
      <p>ヒント: 携帯電話への接続はたいてい、数秒以内です。ただ、時々やたらとかかる場合があります。速くするヒント:</p>
      <ul>
        <li>可能なら携帯電話をWi-Fiに接続してください。</li>
        <li>Androidの設定で [無線とネットワーク]->[Wi-Fi設定]を選び、メニューボタンをクリックし、 [詳細設定] をクリックし、 [Wi-Fiのスリープ設定] を [スリープしない] にしてください。電池を食いそうなオプションですが、実は逆に食わないという噂を聞いたことがあります。</li>
        <li>数秒で反応がない場合は、携帯電話の画面をオンにしてしばらく待ってみてください。</li>
      </ul>
    </div>
    
  <% else %>
    
    <div id="connecting-message" class="message">Connecting to your phone...</div>
    <div id="touch-message" class="message" style="display: none;">
      Touch [Log in] button on your phone.</div>
    <div>
      <p>Hint: Connecting to your phone usually takes less than a few seconds. But it sometimes takes forever. Some hints to make it faster:</p>
      <ul>
        <li>Connect your phone to Wi-Fi when available.</li>
        <li>In Android settings, go to [Wireless and networks]->[Wi-Fi settings], click menu button, click [Advanced], and set [Wi-Fi sleep policy] to [Never]. This sounds like battery-consuming option, but I heard a rumor that it actually saves battery.</li>
        <li>When it doesn't respond in a few seconds, wake up your phone and wait for a while.</li>
      </ul>
    </div>
    
  <% end %>
  
</div>

<div id="qr-container" style="display: none;">
  
  <% if @lang == "ja" %>
    <div class="message">Android携帯で下のQRコードを読み取ってください:</div>
  <% else %>
    <div class="message">Scan QR code below with your Android phone:</div>
  <% end %>
  
  <img id="qr"/>
  
  <% if @lang == "ja" %>
    <div>
      <a href="https://market.android.com/details?id=com.google.zxing.client.android" target="_blank">QRコードスキャナー</a> を使って読み取ってください。携帯電話には <a href="/" target="_blank">Touchauth</a> をインストールしておいてください。
    </div>
  <% else %>
    <div>
      Use <a href="https://market.android.com/details?id=com.google.zxing.client.android" target="_blank">Barcode Scanner</a> to scan QR code. Make sure you have installed <a href="/" target="_blank">Touchauth</a> in your phone.
    </div>
  <% end %>
  
</div>

</body></html>
